.news-page {
  width: 100%;  
  min-height: 500px;
  margin: 0 auto;
  
  .news-container {        
    .news__hot {      
      width: 100%;      
      height: 170px;                
      display: flex;
      justify-content: space-around;               
      font-size: 11px;         
      .news-hot__primary {
        width: 60%;    
        height: 100%;                
      }
      .news-hot__more {
        width: 40%;        
        height: 100%;          
        font-size: 7px;        
        .news-hot-more__top {          
          width: calc(100% - 2px);
          height: calc(60% - 2px);              
        }
        .news-hot-more__bottom {                              
          width: calc(100% - 4px);
          height: 40%;
          display: flex;             
          overflow: hidden;             
        }
      }            
    }
    .news__main {
      width: 98%;
      margin: 0 auto;
      //display: flex;      
      //justify-content: space-between;  
      .news-main__primary {        
        //width: calc(70% - 10px);
        .news-main-primary__filter {
          width: 100%;
          height: 35px;
          font-size: 20px;
          font-weight: bold;
        }
        .news-main-primary__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;                    
        }
      }
      .news-main__recent{        
          height: 35px;
          font-size: 20px;
          font-weight: bold;
        .news-main-recent__title {          
          height: 35px;      
          margin-bottom: 10px;
        }        
      }
    }
  }
// 
  .news {            
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);  
  }
  .news--style0 {
    width: calc(100% - 6px);
    height: calc(100% - 6px);        
    position: relative;
    display: flex;    
    flex-direction: column;
    justify-content: flex-end;      
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.01);
        transition: all .2s;
      }
    }
    .news__image {
      width: 100%;
      height: 100%;        
      position: absolute;      
      z-index: -1;          
      img {
        width: 100%;
        height: 100%;        
      }
    }
    .news__title {
      width: 99%;            
      margin: 0 auto;
      font-weight: bold;
      color:#fff;
    }
    .news__date {
      width: 100%;      
      color:#fff;
    }
  } 
  .news--style1 {
    width: calc(50% - 5px);
    //height: 190px;    
    font-size: 11px;
    .news__image {
      width: 100%;
      //height: 210px;                 
      img {
        width: 100%;
        height: 100%;        
        border-radius: 5px;
      }
    }
    .news__title {
      width: 100%;      
      font-weight: bold;
      &:hover{
        cursor: pointer;
      }
    }
    .news__date {
      width: 100%;
    }
  } 
  .news--style2 {
    //width: calc(100% - 6px);  
    //height: 80px;
    margin-bottom: 5px;
    font-size: 10px;        
    display: flex;
    justify-content: space-between;        
    overflow: hidden;      
    .news__image {
      width: 130px;
      height: 80px;
      margin-right: 5px;      
      img {
        width: 130px;
        height: 100%;        
        border-radius: 5px;
      }
    }
    .news__title {
      //width: 50%;
      font-style: italic;
      &:hover{
        cursor: pointer;
      }
    }
    .news__date {
      display: inline-block;      
    }
  } 
  .load-more {
    width: 100%;
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}

//ipad
@media (min-width: 768px) {
  .news-page {
    width: 98%;
    .news-container {    
        .news__hot {      
          width: 100%;
          height: 370px;                    
          font-size: 16px;        
          .news-hot__more {                 
            font-size: 11px;        
          }            
          .news-hot__primary {
            width: 60%;    
            height: 100%;                
          }
          .news-hot__more {                    
            font-size: 11px;                            
          }        
        }
        .news__main {
          margin: 10px 0;
          display: flex;
          justify-content: space-between;  
          .news-main__primary {
            width: calc(70% - 10px);
            .news-main-primary__filter {            
              font-size: 20px;            
            }          
          }
          .news-main__recent{
            width: calc(30% - 10px);        
            height: 35px;
            font-size: 20px;
            font-weight: bold;
          .news-main-recent__title {
            border-bottom: 2px solid #ddd;
            height: 35px;      
            margin-bottom: 10px;
          }          
        }
      }
    }   
    .news--style1 {     
      font-size: 15px; 
      .news__image {
        width: 100%;
        height: 180px;
        img {
          width: 100%;
          height: 100%;        
          border-radius: 5px;
        }
      }      
    } 
    .news--style2 {      
      margin-bottom: 5px;
      font-size: 11px;                        
      display: flex;
      flex-direction: column;      
      .news__image {
        width: 120px;        
        height: 100px;        
        img {
          width: 100%;
          height: 100%;        
          border-radius: 5px;
        }
      }
      .news__title {
        font-style: italic;
        &:hover{
          cursor: pointer;
        }
      }    
      .news__date {
        display: inline-block;      
      }
    }    
  }
}

// ipad pro
@media (min-width: 1024px) {  
  .news-page {    
    width: 85%;
    .news-container {    
        .news__hot {                                   
          font-size: 18px;          
          .news-hot__more {                    
            font-size: 11px;                            
          }        
        }        
      }    
    .news--style1 {     
      font-size: 16px;       
    } 
    .news--style2 {            
      font-size: 13px;                                    
    }    
  }
}
// desktop
@media (min-width: 1280px) {
  .news-page {    
    width: 80%;
    .news-container {    
        .news__hot {                                   
          font-size: 18px;          
          .news-hot__more {                    
            font-size: 11px;                            
          }        
        }        
      }    
    .news--style1 {     
      font-size: 16px;       
    } 
    .news--style2 {         
      display: flex;      
      font-size: 13px;                                    
    }    
  }
}