
// Element center $type = row, column
@mixin element--center($type: column) {
  display: flex;
  flex-direction: $type;
  align-items: center;
  justify-content: center;    
  height: 100px;
}

@mixin test {
  background-color: red;
}

