.register {   
  display: flex;    
  animation-name: animation-form;
  animation-duration: 1s;
  img {
    width: 400px;
    display: none;
    //height: 100%;        
  }
  .register-form {
    width: 100%;
    .title {
      width: 100%;
      //text-align: center;      
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 22px;
      
    }
    .register-field {          
      width: 100%;      
      margin-bottom: 10px;
      label {
        width: 100%;      
        display: none;
      }
      input {        
        width: 100%;
        height: 45px;
        border-bottom: 1px solid lightseagreen;
        &:focus {
          outline: none;
        }
      }      
    }
    .register-control{
      margin-top: 20px;
      text-align: center;
    }
  }
}
@media (min-width: 376px) {
  .register{
    .register-form{
      width: 90%;
      margin: 0 auto;
    }
  }  
}
@media (min-width: 650px) {
  .register{
    .register-form{      
      width: 80%;
      margin: 0 auto;
    }
  }  
}
// i pad
@media (min-width: 768px) {  
  .register{
    img {
      width: 300px;
      display: block;
    }
    .register-form {
      width: 50%;      
    }
  }  
}
// i pad Pro
@media (min-width: 1024px) {
  
}
@keyframes animation-form {
  from {
    //margin-left: 100%;
    opacity: 0;
  }
  to {
    //margin-left: 0;
    opacity: 1;
  }
}