//@import './../../utils/_sharedScss.scss';

.advertisement {  
  //@include element--center();
  //border-bottom: 1px solid lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;    
  height: 100px;
  
}